.caixa{
    background-color: #F0E68C;
}

.titulo{
    color: white !important;
    font-weight: bold !important ;
}

.botao{
    border-color: white !important ;
    background-color: #FFD700;
    color: white !important;
}
.postagem{
    background-color: white;
}