.box1{
    backgroundColor: #FFA500;
     height: 120px 
}
.redes{
     font-size: 60 !important;
     color: white;
}
.box2{
    background-color: #DAA520;
    height: 60px;
}
.texto{
    color: white;
}